# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/
.env
.venv
env.bak/
venv.bak/

# IDE
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak

# Logs
*.log

# Local configurations
config.ini
*.cfg

# System Files
.DS_Store
Thumbs.db

# Project specific
# Add any project-specific files or directories that shouldn't be tracked
*.mp3
*.ogg.venv/
.venv/
